.imu-indicator-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imu-status-block {
    width: 100%;
    height: 100%;
    border: 1px solid #5900ffff;
    box-shadow: 0 0 8px rgba(68, 0, 255, 0.7);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.03);
}

.imu-status {
    color: #ff00cc;
    text-shadow: 0 0 8px #ff00cc;
    font-size: 1.1rem;
    font-weight: 600;

}

.imu-indicator {
    padding: 0.1rem 0.5rem;
    position: relative;
    border: 1px solid #5900ffff;
    box-shadow: 0 0 8px rgba(68, 0, 255, 0.7);
    border-radius: 0.5rem;

    width: 200px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1b1f2b;
}

.imu-indicator.imu-alert {
    border-color: #ff4444;
    box-shadow: 0 0 12px #ff4444;
}

.attitude {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}

.attitude-svg {
    width: 100%;
    height: 100%;
}

.values {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-around;
    color: #ddd;
}

/* 警示顏色 */
.imu-alert .values span {
    color: #ff6b6b;
}