body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 全體背景與文字 */
.app-container {
  background-color: #111111;
  color: #e0e7ff;
  min-height: 100vh;
}

.main-font {
  /* color: #a3bffa; */
  color: #00ff9f;
  font-weight: 600;
  font-size: 1.4rem;
}

.main-border {
  padding: 0.8rem;
  border: 1px solid #5900ffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(68, 0, 255, 0.7);
  background: #1b1f2b;

  /* padding: 0.8rem;
  border: 1px solid #2e344e;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 140, 255, 0.2);
  background: #1b1f2b; */
}

.second-border {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #2e344e;
  background: linear-gradient(145deg, #181b27, #0e1016);
  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.8),
    inset -4px -4px 8px rgba(60, 70, 100, 0.4);
}

.third-border {
  padding: 0.8rem;
  border-radius: 0.5rem;
  background: radial-gradient(circle at top left, #24293b, #12141c 70%);
  border: 1px solid #5900ff;
  box-shadow:
    inset 0 0 10px rgba(89, 0, 255, 0.4),
    inset 2px 2px 8px rgba(0, 0, 0, 0.8),
    0 0 10px rgba(89, 0, 255, 0.5);
}


/* 按鈕風格 override */
.btn-success {
  background-color: #00aaff;
  border-color: #00aaff;
}

.btn-success:hover {
  background-color: #0094dd;
  border-color: #0094dd;
}

.btn-secondary {
  background-color: #2e344e;
  border-color: #2e344e;
}

.footer {
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
}