.map-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1f2b;
    color: #e0e7ff;
    /* 亮文字 */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    position: relative;
}

.map-status {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map-status.waiting-ros {
    color: #ff00cc;
    text-shadow: 0 0 8px #ff00cc;
    background-color: #1b1f2b;
    width: 100%;
    height: 102%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-status.waiting-map {
    color: #f3e600;
    text-shadow: 0 0 8px #f3e600;
    background-color: #1b1f2b;
    width: 100%;
    height: 102%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: grab;
}