.power-area {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: end;
    padding-right: 5.8rem;
}

.right-sidebar {
    position: fixed;
    top: 0;
    right: -0.3rem;
    height: 100vh;
    width: 260px;
    background: radial-gradient(circle at 80% 20%, #111111 0%, #1b1f2b 90%);
    display: flex;
    flex-direction: column;
    transition: all 0.35s ease;
    overflow: hidden;
    z-index: 100;
}

.right-sidebar.collapsed {
    width: 120px;
    border: none;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.right-sidebar.open {
    border-left: 1px solid #00ff9d3a;
    box-shadow: -2px 0 12px rgba(0, 255, 255, 0.15);
}

.right-sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.95rem;
    pointer-events: auto;
}

.execution-mode-label {
    font-weight: 500;
    /* font-size: 1.3rem; */
    font-size: 1.1rem;
    color: #00ff9f;
    text-shadow: 0 0 2px #00ff9f, 0 0 20px rgba(0, 255, 159, 0.6);
    cursor: pointer;
    transition: all 0.3s ease;
}

.execution-mode-label:hover {
    color: #691ef4;
    text-shadow: 0 0 8px #5900ff, 0 0 20px rgba(89, 0, 255, 0.6);
}

.right-sidebar-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* 區段標題 */
.section-header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
    padding: .8rem 0;
    margin: 1.2rem 0 1rem 0;
    gap: 1rem;
    /* border: 1px solid #fff; */
}

.map-panel,
.camera-panel {
    /* height: inherit; */
    flex: 1 1 0;
    /* display: flex;
    flex-direction: column; */
    min-width: 0;
}

.map-box {
    /* border: 1px solid #fff; */
    /* padding: 2rem; */
    margin-bottom: 1.2rem;
    height: 490px;
}

/* 地圖與鏡頭卡片：保持比例，響應式 */
.map-card {
    width: 100%;
    height: 100%;
    flex: 1;
    /* aspect-ratio: 5 / 4; */
    /* aspect-ratio: 4 / 3; */
    /* aspect-ratio: 16 / 9; */
    overflow: hidden;
    padding: 1rem;
}

.camera-card {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 5 / 4; */
    /* aspect-ratio: 16 / 9; */
    flex: 1;
    /* overflow: hidden; */
    padding: 1rem;
}

.map-option {
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
    /* border: 1px solid #fff; */
}

/* 導航目標按鈕靠右、特效 */
.single-nav-btn {
    background: linear-gradient(90deg, #00ff9f, #5900ffff);
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem 0.3rem;
    font-weight: bold;
    box-shadow: 0 0 4px #00ff9def;
    transition: all 0.25s ease-in-out;
}

.single-nav-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(233, 232, 232, 0.8);
}

.single-nav-btn-active {
    background: linear-gradient(90deg, #ff0077, #ff6600);
    box-shadow: 0 0 4px rgba(255, 100, 100, 0.7);
}

.robotState-box {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* 遙控按鈕合併區塊 */
.control-box {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
    /* border: 1px solid #fff; */
}

/* .teleop-area {
    height: 100%;
    width: 100%;
    max-width: 300px;
} */

/* .safetyStop-area {
    flex: 0.5;
    padding: 0 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
} */

/* .emergency-area {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
} */


/* 手機版時地圖＋鏡頭變成上下排 */
/* @media (max-width: 767px) {

    .map-card,
    .camera-card {
        aspect-ratio: auto;
        height: 300px;
    }
} */