.robot-state-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.global-pos-state-msg,
.realtime-pos-state-msg {
    display: flex;
    flex-direction: column;
    color: #adb2c0;
    font-size: 1.2rem;
    font-weight: 450;
}

.global-pos-state-msg {
    border-bottom: 1px solid #666;
    padding-bottom: 0.2rem;
    margin-bottom: 0.4rem;
}

.vel-state-block {
    min-width: 200px;
}