.schedule-mode-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-group label {
    font-size: 0.9rem;
    font-weight: 500;
}

select,
input {
    padding: 0.15rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    outline: none;
}

.scan-add-btn-box {
    padding-top: 0.3rem;
}

.scan-add-btn {
    font-size: 0.9rem;
    padding: 0.2rem 0.7rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #5a03fb;
    color: white;
    cursor: pointer;
}

.scan-add-btn:hover {
    background-color: #5a03fbd3;
}