.schedule-add {
    position: relative;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
}

.schedule-add-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.schedule-option {
    padding: 2rem;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.schedule-option:hover {
    color: #691ef4;
}

.schedule-close-option {
    padding: 2rem;
    border: 1px solid #691ef4;
    background-color: #691ef4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.schedule-close-option:hover {
    color: #691ef4;
    border: 1px solid #fff;
    background-color: transparent;
}

.schedule-save {
    padding: 2rem;
    border: 1px solid #0bc57e;
    background-color: #0bc57e;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.schedule-save:hover {
    color: #691ef4;
    border: 1px solid #fff;
    background-color: transparent;
}

/* 覆蓋層 */
.schedule-save-overlay {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    /* backdrop-filter: blur(2px); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* 中央面板 */
.schedule-save-panel {
    background: #161822;
    padding: 1.5rem;
    border-radius: 0.8rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* border: 1px solid #691ef4; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.save-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.schedule-save-input {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #555;
    background: #2a2a2a;
    color: #fff;
    outline: none;
}

.save-input:focus {
    border-color: #691ef4;
}

/* 按鈕區 */
.save-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.btn-confirm {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #5a03fb;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn-confirm:hover {
    background-color: #5a03fbd3;
}

.btn-cancel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn-cancel:hover {
    background: #666;
}