.toast-container {
    position: fixed;
    top: 16px;
    right: 240px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 9999;
}

.toast-box {
    display: block;
    min-width: 100px;
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 0.3rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 1rem;
}