/* 主容器讓內容垂直排列 */
.webrtc-camera-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
}

/* 按鈕容器：靠右對齊 */
.webrtc-btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: 0.8rem;
}

/* 按鈕通用樣式 */
.webrtc-btn {
    background: linear-gradient(90deg, #00ff9f, #5900ffff);
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.15rem 0.3rem;
    font-size: 0.85rem;
    font-weight: bold;
    box-shadow: 0 0 4px #00ff9def;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.webrtc-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(233, 232, 232, 0.8);
}

/* 啟動中的按鈕樣式 */
.webrtc-btn-active {
    background: linear-gradient(90deg, #ff0077, #ff6600);
    box-shadow: 0 0 4px rgba(255, 100, 100, 0.7);
}

/* disabled 時的樣式 */
.webrtc-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Video wrapper */
.webrtc-video-wrapper {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
}

/* Video */
.webrtc-video {
    width: 100%;
    height: 100%;
    background-color: #1b1f2b;
    object-fit: contain;
    border-radius: 0.5rem;
}

/* 錯誤 overlay */
.webrtc-video-error {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* color: #ff4d4f; */
    color: #ff00cc;
    text-shadow: 0 0 8px #ff00cc;
    background-color: #1b1f2b;
    font-weight: bold;
    font-size: 1.2rem;

    border-radius: 0.5rem;
    pointer-events: none;
    padding: 1rem;
}